.contents.row
  = form_for(@blog) do |f|
    %p
    ブログを編集する
    = f.text_area :text
    = f.submit "SENT"

-# %h3
-#   編集する
-# %input{:type => "text"}/
-# %textarea{:cols => "30", :name => "text", :placeholder => "", :rows => "10"}= @blog.text
-# %input{:type => "submit", :value => "SENT"}/
