.contents.row
  = form_tag("/blogs/#{@blog.id}", method: :patch ) do
    %h3
      編集する
    %input{:type => "text"}/
    %textarea{:cols => "30", :name => "text", :placeholder => "", :rows => "10"}= @blog.text
    %input{:type => "submit", :value => "SENT"}/
